<div class="footer" *ngIf="checkUrl()">
  <div class="footer-links">
    <p class="m-0 font-weight-bold h1">
      <i class="fa-brands fa-spotify mr-1"></i> Spotify
    </p>
  </div>
  <div class="footer-links d-flex flex-column">
    <p>DOCUMENTATION</p>
    <a href="#">Legal</a>
    <a href="#">Privacy Center</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Cookies</a>
    <a href="#">About Ads</a>
  </div>
  <div class="footer-links d-flex flex-column">
    <p>GUIDLELINES</p>
    <a href="#">Design</a>
    <a href="#">Accessibility</a>
  </div>
  <div class="footer-links d-flex flex-column">
    <p>COMMUNITY</p>
    <a href="#">News</a>
    <a href="#">Forum</a>
  </div>
  <div class="footer-links d-flex flex-column">
    <p>LEGAL</p>
    <a href="#">Developer Terms</a>
    <a href="#">Developer Policy</a>
  </div>
</div>
<div class="footer" *ngIf="checkUrl()">
  <a href="">Legal</a>
  <a href="" class="mx-5">Privacy Center</a>
  <a href="">© 2023 Spotify AB</a>
</div>
