<div class="artist w-50 mx-auto">
  <div class="artist__header">
    <img src="{{ item.images[0].url }}" class="artist__header-img" />
    <div class="artist__header-title">
      <h1>{{ item.name }}</h1>
      <a
        class="btn btn-success"
        href="{{ item.external_urls.spotify }}"
        target="_blank"
        >Open in Spotify</a
      >
    </div>
  </div>
  <div class="artist__body">
    <div class="artist__body-albums">
      <h3>Albums</h3>
      <!-- <div class="artist__body-albums-list">
        <div
          class="artist__body-albums-list-item"
          *ngFor="let album of albumList"
        >
          <img src="{{ item.images[0].url }}" />
          <p>{{ album.name | textLength : 20 }}</p>
        </div>
      </div> -->
      <div class="top-track">
        <div
          class="top__track-item"
          *ngFor="let album of albumList; let i = index"
        >
          <div class="top__track-item-number">
            <p class="m-0">{{ i + 1 }}</p>
          </div>
          <img class="top_track-item-img mx-3" src="{{ item.images[0].url }}" />
          <div class="top_track-item-title text-capitalize">
            <h3 class="m-0">{{ album.name | textLength : 30 }}</h3>
            <p class="m-0">
              {{ album.artists[0].name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
